<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bobby's Favourite Simpson's Epsiodes</title>
    <link href="/resources/compiled/css/main.css" rel="stylesheet">
    <head>
<body>
    <div class="jumbotron header">
      <div class="container-fluid text-center">
        <h1>Bobby's favourite episodes of <i>The Simpsons</i></h1>
        <p><img class="img-circle" src="resources/img/bobby.jpg"></p>
      </div>
    </div>

    {% if seasons|length > 1 %}
        <div class="container" id="filter" style="margin-bottom: 20px;">
            <a href="/#filter" class="btn btn-primary">View all</a>
            {% for season in seasons %}
                <a href="/?filter={{ season }}#filter" class="btn {% if season == filter %}btn-success{% else %}btn-primary{% endif %}">Season {{ season }}</a>
            {% endfor %}
        </div>
    {% endif %}
    <div class="container">

        {% set displayCount = 1 %}
        {% for episode in episodes %}
            {% if filter == episode.season or filter == '' %}
                {% if displayCount%2 == 1 %}<div class="row">{% endif %}

                    {{ include('episode.html') }}

                {% if displayCount%2 == 0 %}</div>{% endif %}
                {% set displayCount = (displayCount + 1) %}
            {% endif %}
        {% endfor %}
        {% if displayCount == 1 %}
          <div class="no-episodes">There are no episodes for season {{ filter }}.</div>
        {% endif %}
    </div>

    <footer class="footer">
      <div class="container-fluid">
          <div class="row">
              <div class="text-center">
                <p class="text-muted"><3</p>
            </div>
        </div>
      </div>
    </footer>

  <script type="text/javascript" src="/resources/compiled/js/main.js"></script>
</body>
</html>
